<button mat-flat-button (click)="saveLayer()">Save Layer</button>
<button mat-flat-button (click)="loadLayer()">Load Layer</button>
<button mat-flat-button (click)="clearCanvas()">Clear canvas</button>

<div oncontextmenu="return false">
    <div id="deleteMenu" class="button__group" style="display:none; z-index: 1;">
        <button mat-flat-button class="button__element" (click)="removeObject()">Delete</button>
    </div>
    <div id="menu" class="button__group" style="display:none; z-index: 1;">
        <button mat-flat-button class="button__element" (click)="addText()">Add Text</button>
        <button mat-flat-button class="button__element" (click)="addArrow()">Add Arrow</button>
    </div>
    <canvas id="myCanvas" width="800" height="600"></canvas>
</div>